#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    width: 310px;
    margin: 20px auto;
   
  }
  
  .cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    height: 100px;
    cursor: pointer;
  }

  #reset-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #4CAF50; /* green */
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #reset-btn:hover {
    background-color: #45a049;
  }
  
  